.heading-text {
  display: inline;
}

.btn-back {
  display: inline;
  color: #ffffff !important;
  float: right;
}

.datatable-row-even {
  background-color: rgba(0, 0, 0, 0.05);
}

.ngx-datatable.bootstrap .datatable-body {
  background-color: transparent !important;
}
